---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import {getLangFromUrl} from "../i18n/utils";
import {defaultLang} from "../i18n/ui";
const lang = getLangFromUrl(Astro.url);

const projects = (await getCollection('work')).map(entry =>{
	const [lang, ...slug] = entry.slug.split('/');
	return { params: { lang, slug: slug.join('/') || undefined }, props: entry };
}).filter(entry => lang == defaultLang ? entry.params.lang != 'de' : entry.params.lang == lang)
	.sort(
		(a, b) => b.props.data.publishDate.valueOf() - a.props.data.publishDate.valueOf()
	);
---

<BaseLayout
	title="Skills | Johannes Gnadlinger"
	description="Learn about Johannes Gnadlinger's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Skills"
				tagline="Here you see the technologies I enjoy working with."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project.props} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
