---
import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
---

<BaseLayout title="About | Johannes Gnadlinger" description="About Johannes Gnadlinger">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Hola!"
				tagline="Danke fürs vorbeischauen! Hier sind noch ein paar Infos über mich"
			>
				<img
					width="1600"
					height="1200"
					src="/assets/about.jpg"
					alt="Johannes Gnadlinger"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Leben</h2>
				<div class="content">
					<p>
						Ich habe das Bild etwas älter ist ;) Aber es beschreibt mich immer noch gut! Ich bin ein fröhlicher Mensch, der gerne reist und neue Leute kennenlernt.

						Aufgewachsen in Wels, bin ich vor einigen Jahren nach Linz gezogen und lebe seitdem hier mit meiner Frau und unserer kleinen Tochter.

						Meine Leidenschaft für das Programmieren entdeckte ich als Teenager. Mit 16 schrieb ich mein erstes "Hello World", und mit 20 begann ich meine Karriere bei der Raiffeisen Software GmbH, wo ich jeden Tag neue Dinge lerne.

						In meiner Freizeit experimentiere ich gerne mit neuen Technologien in Nebenprojekten und höre gerne aufregende Podcasts, am liebsten über Wissenschaft oder Politik (Ausnahme: Gemischtes Hack).

						Seitdem habe ich es geschafft, mit dem Rauchen aufzuhören, und obwohl mein Erfolg auf dem Tennisplatz sich nicht merklich verbessert hat, fühle ich mich insgesamt besser.

						Ein respektvoller Umgang mit anderen ist mir wichtig.
					</p>
				</div>
			</section>
			<section>
			<h2 class="section-title">Ausbildung</h2>
			<div class="content">
				<ul>
					<li>HTL</li>
					<li>Zivildienst</li>
					<li>Trainee Programm @RaiffeisenSoftwareGmbH</li>
				</ul>
			</div>
			</section>
			<section>
				<h2 class="section-title">Freizeit</h2>
				<div class="content">
					<ul>
						<li>Familie</li>
						<li>Tennis</li>
						<li>Hackathons (früher mehr, als jetzt)</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
